<h1>{{capitalize title}}</h1>
<p>With a splash of lodash ...</p>
<ul>
    {{#each list_item}}
        <li class="{{this.colour}}"><strong>Colour:</strong> {{this.colour}}</li>
    {{/each}}
</ul>

{{camel}}